body {
  margin: 0;
  padding: 0;
  background-image: url("background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact-form {
  width: 500px;
  height: 700px;
  border: 1px solid rgb(16, 36, 74);
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #aed1ee;
  margin: 100px auto;
  padding-left: 20px;
  transition: box-shadow 0.3s ease;
  font-size: 30px;
  position: relative;
  z-index: 3;
  color: rgb(16, 54, 144);
  background-color: #fff;
}
.contact-form:hover {
  box-shadow: 30px 30px 30px #b9daf6;
}
.contact-form h1 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 30px;
  text-align: center;
  /* opacity: 0.8; */

  background: linear-gradient(
    270deg,
    #06a5ee,
    #1867cd,
    hsl(60, 10%, 96%),
    #082e8c,
    #283384
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glitter 12s ease infinite;
}
@keyframes glitter {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact-form input {
  border-radius: 10px;
  width: 300px;
}
.form-name input {
  margin-left: 40px;
}
.form-email input {
  margin-left: 50px;
}
.form-message textarea {
  margin-left: 13px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

.form-message label {
  position: static;
  top: -90px;
}
.submit {
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 50px;
  box-shadow: 2px 2px 8px black;
}
.submit:hover {
  background-color: #88bef8;
}
.footer {
  margin: 50px auto;
  /* background-color: #dedede; */
  text-align: center;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
