body {
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact-form {
  width: 500px;
  height: 700px;
  /* border: 1px solid rgb(128, 200, 234); */
  padding-top: 30px;
  border-radius: 10px;
  /* box-shadow: 10px 10px 10px #aed1ee; */
  margin: auto;
  padding-left: 20px;
  transition: box-shadow 0.3s ease;
  font-size: 30px;
  position: relative;
  z-index: 3;
  color: rgb(16, 54, 144);
  background-color: #fff;
  opacity: 0.9;
}
.contact-form:hover {
  box-shadow: 0px 0px 10px 20px #dcedfd;
  opacity: 1;
}
.contact-form h1 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 30px;
  text-align: center;
  /* opacity: 0.8; */
  background: linear-gradient(
    270deg,
    #06a5ee,
    #1867cd,
    hsl(60, 10%, 96%),
    #082e8c,
    #283384
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glitter 12s ease infinite;
}

@keyframes glitter {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact-form input {
  border-radius: 10px;
  width: 300px;
}
.form-name input {
  margin-left: 40px;
}
.form-email input {
  margin-left: 50px;
}
.form-message textarea {
  margin-left: 13px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

.form-message label {
  position: static;
  top: -90px;
}
.submit {
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 50px;
  box-shadow: 2px 2px 8px black;
}
.submit:hover {
  background-color: #88bef8;
}
.search-bar-container {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.input-wrapper {
  width: 460px;
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 10px #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
}
.search-bar-input {
  width: 400px;
  height: 60px;
  font-size: 20px;
  background-color: white;
  /* box-shadow:  0px 0px 8px #ddd; */
  border: none;
  margin-left: 10px;
}
.search-bar-input:focus {
  outline: none;
}
.search-icon {
  width: 30px;
  height: 30px;
  background-color: white;
}
.search-button {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  box-shadow: 0px 0px 10px #eee;
}
.search-part {
  display: flex;
}
.sampleImage {
  width: 400px;
  height: 480px;
  border-radius: 10px;
}
.sampleImage img {
  width: 400px;
  height: 480px;
  border-radius: 10px;
  object-fit: fill;
  filter: brightness(12 0%);
}
.sampleImage:hover {
  box-shadow: 10px 10px 20px #bbc2d9;
}
.title p {
  width: 600px;
  height: 350px;
}
.title h1 {
  text-align: center;
  margin-bottom: 30px;
}
.title {
  border-radius: 10px;
  background-color: hwb(0 100% 0%);
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0.9;
}
.title:hover {
  box-shadow: 10px 10px 20px #bbc2d9;
}
.wishlist-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}
.wishlist-title h1 {
  margin: auto;
}
.heart-block {
  display: flex;
  width: 180px;
  justify-content: space-around;
}
.heart-block h6 {
  margin: auto;
}
.row {
  margin-top: 60px;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  margin-left: 20px;
  height: 60px;
  width: 140px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.dropdown:hover {
  box-shadow: 10px 10px 20px #bbc2d9;
}
.dropdown a {
  text-decoration: none;
  border: none;
}
.delete {
  border: none;
  background-color: #fff;
}
.dropdown-menu {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  margin: 60px auto;
}

.footer a {
  text-decoration: none;
}

.glitter-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #b8e8fe;
  /* box-shadow: 0 0 20px 10px #b8e8fe; */
  animation-name: glitter-hover;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  opacity: 0.6;
}
@keyframes glitter-hover {
  0% {
    background-color: #fff;
    left: -5px;
    top: -5px;
    box-shadow: 0 0 20px 10px #fff;
  }
  25% {
    background-color: #fff;
    left: 495px;
    top: -5px;
    box-shadow: 0 0 20px 10px #fff;
  }
  50% {
    background-color: #fff;
    left: 495px;
    top: 695px;
    box-shadow: 0 0 20px 10px #fff;
  }
  75% {
    background-color: #fff;
    left: -5px;
    top: 695px;
    box-shadow: 0 0 20px 10px #fff;
  }
  100% {
    background-color: #fff;
    left: -5px;
    top: -5px;
    box-shadow: 0 0 20px 10px #fff;
  }
}
